body {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.talk, .image, .input-box, .btn {
    font-family: 'KOTRAHOPE';
    font-size: 25px;
    text-align: center;
}

.talk {
    width: 600px;

    border: 2px solid gray;
    border-radius: 15px;

    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;

    padding: 6px;
}

.talk p {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image img {
    width: 350px;
    margin: 5px;
}

.input-box {
    margin-top: 40px;
}

.input-box input {
    font-family: 'ACCchildrenheartOTF-Regular';
    font-size: 20px;
    text-align: center;

    width: 600px;

    border: 2px solid lightgray;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn{
    margin-top: 20px;
}

.btn button {
    font-family: 'KOTRAHOPE';
    font-size: 20px;

    width: 200px;
    height: 40px;
    border-radius: 9px;
}
